* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: transparent;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 470px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 28px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
    color: rgb(114, 110, 110);
}

#humidity1 {
    width: 20px;
    height: 10px;
}

.details {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    display: none;
    margin-top: 40px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 20px 30px;
    background: #1D4350;
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    background: linear-gradient(to right, #A43931, #1D4350);
}

#mainimg{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box h2 {
    margin-top: 20px;
    font-size: 50px;
    position: relative;
}

.weather-box h3 {
    margin-top: 10px;
    font-size: 35px;
    position: relative;
}

.cloud_detail {
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.details2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
    display: flex;
    align-items: center;
}

.location-not-found {
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1 {
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}

.location-not-found img {
    width: 80%;
}